.yellow__gradient {
    background: radial-gradient(circle, #fffabb3d, transparent);
}

.glass {
    /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.087); */
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
}

.glass2 {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.087);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
}

.phone__gradient {
    background: linear-gradient(
        to right,
        #7083c8 -50%,
        #e2bfcb 33%,
        #d098b3 86%,
        #7083c8 110%
    ) !important;
}

.value__gradient {
    background: linear-gradient(
        to bottom,
        transparent,
        transparent,
        #7083c817,
        #7083c817,
        transparent
    ) !important;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

/* Ensure content is still scrollable */
html,
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scroll-behavior: smooth;
    width: 100%;
}

/* Custom cursor styles */
.cursor-container {
    mix-blend-mode: normal;
    will-change: transform;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.bubble__gradient {
    background: rgba(112, 131, 200, 55%);
    filter: blur(243px);
}

.services__gradient {
    background: rgba(112, 131, 200, 29%);
    filter: blur(243px);
}

@keyframes elevate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: elevate 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transition: transform 0.3s ease;
}

#contact div > p,
a {
    cursor: pointer;
    text-decoration: underline;
    color: #7985c7;
}
